<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />
    <meta name="description" content="Smarthr - Bootstrap Admin Template" />
    <meta
      name="keywords"
      content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern, accounts, invoice, html5, responsive, CRM, Projects"
    />
    <meta name="author" content="Dreamguys - Bootstrap Admin Template" />
    <meta name="robots" content="noindex, nofollow" />
    <title>Freelance Pro | Clients</title>

    <!-- Favicon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/assets/img/favicon.png"
    />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css" />

    <!-- Lineawesome CSS -->
    <link rel="stylesheet" href="/assets/css/line-awesome.min.css" />

    <!-- Select2 CSS -->
    <link rel="stylesheet" href="/assets/css/select2.min.css" />

    <!-- Main CSS -->
    <link rel="stylesheet" href="/assets/css/style.css" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.min.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Main Wrapper -->
    <div class="main-wrapper">
      <!-- Header -->
      <div class="header">
        <!-- Logo -->
        <div class="header-left">
          </a>
        </div>
        <!-- /Logo -->

        <a id="toggle_btn" href="javascript:void(0);">
          <span class="bar-icon">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </a>

        <!-- Header Title -->
        <div class="page-title-box">
          <h3>Freelance Pro</h3>
        </div>
        <!-- /Header Title -->

        <a id="mobile_btn" class="mobile_btn" href="#sidebar"
          ><i class="fa fa-bars"></i
        ></a>

        <!-- Header Menu -->
				<ul class="nav user-menu">
				
				
					<!-- Flag -->
					<li class="nav-item dropdown has-arrow flag-nav">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button">
							<img src="assets\img\flags\us.png" alt="" height="20"> <span>English</span>
						</a>
						<div class="dropdown-menu dropdown-menu-right">
							<a href="javascript:void(0);" class="dropdown-item">
								<img src="assets\img\flags\us.png" alt="" height="16"> English
							</a>
							<a href="javascript:void(0);" class="dropdown-item">
								<img src="assets\img\flags\fr.png" alt="" height="16"> French
							</a>
							<a href="javascript:void(0);" class="dropdown-item">
								<img src="assets\img\flags\es.png" alt="" height="16"> Spanish
							</a>
							<a href="javascript:void(0);" class="dropdown-item">
								<img src="assets\img\flags\de.png" alt="" height="16"> German
							</a>
						</div>
					</li>
					<!-- /Flag -->
				
					

					<li class="nav-item dropdown has-arrow main-drop">
						<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
							<span class="user-img"><img src="assets\img\profiles\me.jpg" alt="">
						</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="profile.html">My Profile</a>
							<a class="dropdown-item" href="/login">Logout</a>
						</div>
					</li>
				</ul>
				<!-- /Header Menu -->

        <!-- Mobile Menu -->
        <div class="dropdown mobile-user-menu">
          <a
            href="#"
            class="nav-link dropdown-toggle"
            data-toggle="dropdown"
            aria-expanded="false"
            ><i class="fa fa-ellipsis-v"></i
          ></a>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="profile.html">My Profile</a>
            <a class="dropdown-item" href="login.html">Logout</a>
          </div>
        </div>
        <!-- /Mobile Menu -->
      </div>
      <!-- /Header -->

      <!-- Sidebar -->
      <div class="sidebar" id="sidebar">
        <div class="sidebar-inner slimscroll">
  <div id="sidebar-menu" class="sidebar-menu">
    <ul>
      <li class="menu-title"> 
        <span>Main Menu</span>
      </li>
      <li>
        <a href="/index"><i class="la la-dashboard"></i> <span>Dashboard</span></a>
      </li>
      <li>
        <a href="/events"><i class="fa fa-calendar"></i> <span>Calendar</span></a>
      </li>

      <li class="submenu">
        <a href="#"><i class="la la-rocket"></i> <span> Projects</span> <span class="menu-arrow"></span></a>
        <ul style="display: none;">
          <li><a href="/projects">Projects</a></li>
          <li><a href="/task-board">Task Board</a></li>
        </ul>
      </li>
      <li> 
        <a href="/clients"><i class="la la-users"></i> <span>Clients</span></a>
      </li>
      <li><a href="/invoices"><i class="la la-ticket"></i> <span>Invoices</span></a></li>

      <li class="submenu">
        <!-- <a href="javascript:void(0);"><i class="la la-share-alt"></i> <span>Multi Level</span> <span class="menu-arrow"></span></a> -->
        <ul style="display: none;">
          <li class="submenu">
            <a href="javascript:void(0);"> <span>Level 1</span> <span class="menu-arrow"></span></a>
            <ul style="display: none;">
              <li><a href="javascript:void(0);"><span>Level 2</span></a></li>
              <li class="submenu">
                <a href="javascript:void(0);"> <span> Level 2</span> <span class="menu-arrow"></span></a>
                <ul style="display: none;">
                  <li><a href="javascript:void(0);">Level 3</a></li>
                  <li><a href="javascript:void(0);">Level 3</a></li>
                </ul>
              </li>
              <li><a href="javascript:void(0);"> <span>Level 2</span></a></li>
            </ul>
          </li>
          <li>
            <a href="javascript:void(0);"> <span>Level 1</span></a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
        </div>
    </div>
<!-- /Sidebar -->

      <!-- Page Wrapper -->
      <div class="page-wrapper">
        <!-- Page Content -->
        <div class="content container-fluid">
          <!-- Page Header -->
          <div class="page-header">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="page-title">Clients</h3>
                <ul class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="/index">Dashboard</a>
                  </li>
                  <li class="breadcrumb-item active">Clients</li>
                </ul>
              </div>
              <div class="col-auto float-right ml-auto">
                <a
                  href="#"
                  class="btn add-btn"
                  data-toggle="modal"
                  data-target="#add_client"
                  ><i class="fa fa-plus"></i> Add Client</a
                >
              </div>
            </div>
          </div>
          <!-- /Page Header -->

          

          <div class="row staff-grid-row">
            <% if (clients.length > 0) { %>
              <% clients.forEach(client => { %>
                <div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3">
                  <div class="profile-widget">
                    <div class="profile-img">
                      <a href="/client-profile" class="avatar">
                        <img alt="Profile Picture" src="/assets/img/favicon1.png">
                      </a>
                    </div>
                    <div class="dropdown profile-action">
                      <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <i class="material-icons">more_vert</i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#edit_client_<%= client.id %>">
                          <i class="fa fa-pencil m-r-5"></i> Edit
                        </a>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_client_<%= client.id %>">
                          <i class="fa fa-trash-o m-r-5"></i> Delete
                        </a>
                      </div>
                    </div>
                    <h4 class="user-name m-t-10 mb-0 text-ellipsis">
                      <a href="/client-profile"><%= client.company_name %></a>
                    </h4>
                    <h5 class="user-name m-t-10 mb-0 text-ellipsis">
                      <a href="/client-profile"><%= client.first_name %> <%= client.last_name %></a>
                    </h5>
                    <div class="small text-muted"><%= client.job_title %></div>
                    <a href="chat.html" class="btn btn-white btn-sm m-t-10">Message</a>
                    <a href="/client-profile?client_id=<%= client.client_id %>" class="btn btn-white btn-sm m-t-10">View Profile</a>
                  </div>
                </div>
              <% }); %>
            <% } else { %>
              <div class="col-12">
                <div class="text-center">No clients available</div>
              </div>
            <% } %>
          </div>
          
          
          
        </div>
        <!-- /Page Content -->

        <!-- Add Client Modal -->
        <div id="add_client" class="modal custom-modal fade" role="dialog">
          <div
            class="modal-dialog modal-dialog-centered modal-lg"
            role="document"
          >
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Add Client</h5>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="col-form-label"
                          >First Name <span class="text-danger">*</span></label
                        >
                        <input
                          class="form-control"
                          id="fname"
                          name="fname"
                          type="text"
                        />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="col-form-label">Last Name</label>
                        <input
                          class="form-control"
                          id="lname"
                          name="lname"
                          type="text"
                        />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="col-form-label"
                          >Username <span class="text-danger">*</span></label
                        >
                        <input
                          class="form-control"
                          id="username"
                          name="username"
                          type="text"
                        />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="col-form-label"
                          >Email <span class="text-danger">*</span></label
                        >
                        <input
                          class="form-control floating"
                          id="email"
                          name="email"
                          type="email"
                        />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="col-form-label">Password</label>
                        <input
                          class="form-control"
                          id="password"
                          name="password"
                          type="password"
                        />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="col-form-label">Confirm Password</label>
                        <input
                          class="form-control"
                          id="confirm"
                          name="confirm"
                          type="password"
                        />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="col-form-label"
                          >Client ID <span class="text-danger">*</span></label
                        >
                        <input
                          class="form-control floating"
                          id="client_id"
                          name="client_id"
                          type="text"
                        />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="col-form-label">Phone </label>
                        <input
                          class="form-control"
                          id="phone"
                          name="phone"
                          type="text"
                        />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="col-form-label">Company Name</label>
                        <input
                          class="form-control"
                          id="company"
                          name="company"
                          type="text"
                        />
                      </div>
                    </div>
                  </div>

                  <div class="submit-section">
                    <button
                      id="submit"
                      type="button"
                      class="btn btn-primary submit-btn"
                    >
                      Submit
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- /Add Client Modal -->

        <!-- Edit Client Modal -->
        <div id="edit_client" class="modal custom-modal fade" role="dialog">
          <div
            class="modal-dialog modal-dialog-centered modal-lg"
            role="document"
          >
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Edit Client</h5>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="col-form-label"
                          >First Name <span class="text-danger">*</span></label
                        >
                        <input class="form-control" value="Barry" type="text" />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="col-form-label">Last Name</label>
                        <input class="form-control" value="Cuda" type="text" />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="col-form-label"
                          >Username <span class="text-danger">*</span></label
                        >
                        <input
                          class="form-control"
                          value="barrycuda"
                          type="text"
                        />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="col-form-label"
                          >Email <span class="text-danger">*</span></label
                        >
                        <input
                          class="form-control floating"
                          value="barrycuda@example.com"
                          type="email"
                        />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="col-form-label">Password</label>
                        <input
                          class="form-control"
                          value="barrycuda"
                          type="password"
                        />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="col-form-label">Confirm Password</label>
                        <input
                          class="form-control"
                          value="barrycuda"
                          type="password"
                        />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="col-form-label"
                          >Client ID <span class="text-danger">*</span></label
                        >
                        <input
                          class="form-control floating"
                          value="CLT-0001"
                          type="text"
                        />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="col-form-label">Phone </label>
                        <input
                          class="form-control"
                          value="9876543210"
                          type="text"
                        />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="col-form-label">Company Name</label>
                        <input
                          class="form-control"
                          type="text"
                          value="Global Technologies"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="table-responsive m-t-15">
                    <table class="table table-striped custom-table">
                      <thead>
                        <tr>
                          <th>Module Permission</th>
                          <th class="text-center">Read</th>
                          <th class="text-center">Write</th>
                          <th class="text-center">Create</th>
                          <th class="text-center">Delete</th>
                          <th class="text-center">Import</th>
                          <th class="text-center">Export</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Projects</td>
                          <td class="text-center">
                            <input checked="" type="checkbox" />
                          </td>
                          <td class="text-center">
                            <input checked="" type="checkbox" />
                          </td>
                          <td class="text-center">
                            <input checked="" type="checkbox" />
                          </td>
                          <td class="text-center">
                            <input checked="" type="checkbox" />
                          </td>
                          <td class="text-center">
                            <input checked="" type="checkbox" />
                          </td>
                          <td class="text-center">
                            <input checked="" type="checkbox" />
                          </td>
                        </tr>
                        <tr>
                          <td>Tasks</td>
                          <td class="text-center">
                            <input checked="" type="checkbox" />
                          </td>
                          <td class="text-center">
                            <input checked="" type="checkbox" />
                          </td>
                          <td class="text-center">
                            <input checked="" type="checkbox" />
                          </td>
                          <td class="text-center">
                            <input checked="" type="checkbox" />
                          </td>
                          <td class="text-center">
                            <input checked="" type="checkbox" />
                          </td>
                          <td class="text-center">
                            <input checked="" type="checkbox" />
                          </td>
                        </tr>
                        <tr>
                          <td>Chat</td>
                          <td class="text-center">
                            <input checked="" type="checkbox" />
                          </td>
                          <td class="text-center">
                            <input checked="" type="checkbox" />
                          </td>
                          <td class="text-center">
                            <input checked="" type="checkbox" />
                          </td>
                          <td class="text-center">
                            <input checked="" type="checkbox" />
                          </td>
                          <td class="text-center">
                            <input checked="" type="checkbox" />
                          </td>
                          <td class="text-center">
                            <input checked="" type="checkbox" />
                          </td>
                        </tr>
                        <tr>
                          <td>Estimates</td>
                          <td class="text-center">
                            <input checked="" type="checkbox" />
                          </td>
                          <td class="text-center">
                            <input checked="" type="checkbox" />
                          </td>
                          <td class="text-center">
                            <input checked="" type="checkbox" />
                          </td>
                          <td class="text-center">
                            <input checked="" type="checkbox" />
                          </td>
                          <td class="text-center">
                            <input checked="" type="checkbox" />
                          </td>
                          <td class="text-center">
                            <input checked="" type="checkbox" />
                          </td>
                        </tr>
                        <tr>
                          <td>Invoices</td>
                          <td class="text-center">
                            <input checked="" type="checkbox" />
                          </td>
                          <td class="text-center">
                            <input checked="" type="checkbox" />
                          </td>
                          <td class="text-center">
                            <input checked="" type="checkbox" />
                          </td>
                          <td class="text-center">
                            <input checked="" type="checkbox" />
                          </td>
                          <td class="text-center">
                            <input checked="" type="checkbox" />
                          </td>
                          <td class="text-center">
                            <input checked="" type="checkbox" />
                          </td>
                        </tr>
                        <tr>
                          <td>Timing Sheets</td>
                          <td class="text-center">
                            <input checked="" type="checkbox" />
                          </td>
                          <td class="text-center">
                            <input checked="" type="checkbox" />
                          </td>
                          <td class="text-center">
                            <input checked="" type="checkbox" />
                          </td>
                          <td class="text-center">
                            <input checked="" type="checkbox" />
                          </td>
                          <td class="text-center">
                            <input checked="" type="checkbox" />
                          </td>
                          <td class="text-center">
                            <input checked="" type="checkbox" />
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="submit-section">
                    <button class="btn btn-primary submit-btn">Save</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- /Edit Client Modal -->

        <!-- Delete Client Modal -->
        <div class="modal custom-modal fade" id="delete_client" role="dialog">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-body">
                <div class="form-header">
                  <h3>Delete Client</h3>
                  <p>Are you sure want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                  <div class="row">
                    <div class="col-6">
                      <a
                        href="javascript:void(0);"
                        class="btn btn-primary continue-btn"
                        >Delete</a
                      >
                    </div>
                    <div class="col-6">
                      <a
                        href="javascript:void(0);"
                        data-dismiss="modal"
                        class="btn btn-primary cancel-btn"
                        >Cancel</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /Delete Client Modal -->
      </div>
      <!-- /Page Wrapper -->
    </div>
    <!-- /Main Wrapper -->

    <!-- jQuery -->
    <script src="/assets/js/jquery-3.2.1.min.js"></script>

    <!-- Bootstrap Core JS -->
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>

    <!-- Slimscroll JS -->
    <script src="/assets/js/jquery.slimscroll.min.js"></script>

    <!-- Select2 JS -->
    <script src="/assets/js/select2.min.js"></script>

    <!-- Custom JS -->
    <script src="/assets/js/app.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>

    <script>
      document.getElementById("submit").addEventListener("click", (event) => {
        event.preventDefault(); // Prevent the default form submission behavior

        // Disable the button to prevent double-clicking
        event.target.disabled = true;

        const fname = document.getElementById("fname").value;
        const lname = document.getElementById("lname").value;
        const username = document.getElementById("username").value;
        const email = document.getElementById("email").value;
        const password = document.getElementById("password").value;
        const confirm = document.getElementById("confirm").value;
        const clientID = document.getElementById("client_id").value;
        const phone = document.getElementById("phone").value;
        const company = document.getElementById("company").value;

        if (!fname || !username || !email || !clientID) {
          // Handle the case where not all fields are filled out
          swal("Error!", "Missing fields!", "error").then(() => {
            // Enable the button after showing the error message
            event.target.disabled = false;
          });
          return;
        }

        const data = {
          fname: fname,
          lname: lname,
          username: username,
          email: email,
          password: password,
          confirm: confirm,
          clientID: clientID,
          phone: phone,
          company: company,
        };

        // Show loading animation
        swal({
          title: "Processing...",
          content: {
            element: "div",
            attributes: {
              id: "loading-animation",
            },
          },
          buttons: false,
          closeOnClickOutside: false,
          closeOnEsc: false,
        });

        // Use Axios to submit the form data to the /submit endpoint
        // ...
        axios
          .post("/create/client", data)
          .then(function (response) {
            // Hide loading animation
            swal.close();

            const successMessage =
              response.data.status ||
              "Your request has been submitted successfully.";
            swal({
              title: "Success!",
              text: successMessage,
              icon: "success",
              button: "Close",
            }).then(() => {
              // Clear input fields
            //   document.getElementById("topic").value = "";
            //   document.getElementById("message").value = "";

              // Enable the button after closing the success message
              event.target.disabled = false;

              // Refresh the page
              location.reload();

              // You can also close the modal if necessary
              // jQuery('#ticketModal').modal('hide');
            });
          })
          .catch(function (error) {
            console.error(error);
            // Hide loading animation
            swal.close();

            const errorMessage =
              error.response.data.message ||
              "An error occurred. Please try again later.";
            swal({
              title: "Error!",
              text: errorMessage,
              icon: "error",
              button: "Close",
            }).then(() => {
              // Enable the button after closing the error message
              event.target.disabled = false;
            });
          });
        // ...
      });
    </script>
  </body>
</html>
