<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <meta name="description" content="Smarthr - Bootstrap Admin Template">
		<meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern, accounts, invoice, html5, responsive, CRM, Projects">
        <meta name="author" content="Dreamguys - Bootstrap Admin Template">
        <meta name="robots" content="noindex, nofollow">
        <title>Freelance Pro | Client Profile</title>
		
		<!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.png">
		
		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="assets\css\bootstrap.min.css">
		
		<!-- Fontawesome CSS -->
        <link rel="stylesheet" href="assets\css\font-awesome.min.css">
		
		<!-- Lineawesome CSS -->
		<link rel="stylesheet" href="assets\css\line-awesome.min.css">
		
		<!-- Main CSS -->
        <link rel="stylesheet" href="assets\css\style.css">
		
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="assets/js/html5shiv.min.js"></script>
			<script src="assets/js/respond.min.js"></script>
		<![endif]-->
    </head>
    <body>
		<!-- Main Wrapper -->
        <div class="main-wrapper">
		
			<!-- Header -->
            <div class="header">
			
				<!-- Logo -->
                <div class="header-left">
					</a>
                </div>
				<!-- /Logo -->
				
				<a id="toggle_btn" href="javascript:void(0);">
					<span class="bar-icon">
						<span></span>
						<span></span>
						<span></span>
					</span>
				</a>
				
				<!-- Header Title -->
                <div class="page-title-box">
					<h3><%= name %></h3>
                </div>
				<!-- /Header Title -->
				
				<a id="mobile_btn" class="mobile_btn" href="#sidebar"><i class="fa fa-bars"></i></a>
				
				<!-- Header Menu -->
				<ul class="nav user-menu">
				
				
					<!-- Flag -->
					<li class="nav-item dropdown has-arrow flag-nav">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button">
							<img src="assets\img\flags\us.png" alt="" height="20"> <span>English</span>
						</a>
						<div class="dropdown-menu dropdown-menu-right">
							<a href="javascript:void(0);" class="dropdown-item">
								<img src="assets\img\flags\us.png" alt="" height="16"> English
							</a>
							<a href="javascript:void(0);" class="dropdown-item">
								<img src="assets\img\flags\fr.png" alt="" height="16"> French
							</a>
							<a href="javascript:void(0);" class="dropdown-item">
								<img src="assets\img\flags\es.png" alt="" height="16"> Spanish
							</a>
							<a href="javascript:void(0);" class="dropdown-item">
								<img src="assets\img\flags\de.png" alt="" height="16"> German
							</a>
						</div>
					</li>
					<!-- /Flag -->
				
					

					<li class="nav-item dropdown has-arrow main-drop">
						<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
							<span class="user-img"><img src="assets\img\profiles\me.jpg" alt="">
						</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="profile.html">My Profile</a>
							<a class="dropdown-item" href="/login">Logout</a>
						</div>
					</li>
				</ul>
				<!-- /Header Menu -->
				
				<!-- Mobile Menu -->
				<div class="dropdown mobile-user-menu">
					<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
					<div class="dropdown-menu dropdown-menu-right">
						<a class="dropdown-item" href="profile.html">My Profile</a>
						<a class="dropdown-item" href="settings.html">Settings</a>
						<a class="dropdown-item" href="login.html">Logout</a>
					</div>
				</div>
				<!-- /Mobile Menu -->
				
            </div>
			<!-- /Header -->
			
			<!-- Sidebar -->
            <div class="sidebar" id="sidebar">
                <div class="sidebar-inner slimscroll">
					<div id="sidebar-menu" class="sidebar-menu">
						<ul>
							<li class="menu-title"> 
								<span>Main Menu</span>
							</li>
							<li>
								<a href="/index"><i class="la la-dashboard"></i> <span>Dashboard</span></a>
							</li>
							<li>
								<a href="/events"><i class="fa fa-calendar"></i> <span>Calendar</span></a>
							</li>

							<li class="submenu">
								<a href="#"><i class="la la-rocket"></i> <span> Projects</span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a href="/projects">Projects</a></li>
									<li><a href="/task-board">Task Board</a></li>
								</ul>
							</li>
							<li> 
								<a href="/clients"><i class="la la-users"></i> <span>Clients</span></a>
							</li>
							<li><a href="/invoices"><i class="la la-ticket"></i> <span>Invoices</span></a></li>

							<li class="submenu">
								<!-- <a href="javascript:void(0);"><i class="la la-share-alt"></i> <span>Multi Level</span> <span class="menu-arrow"></span></a> -->
								<ul style="display: none;">
									<li class="submenu">
										<a href="javascript:void(0);"> <span>Level 1</span> <span class="menu-arrow"></span></a>
										<ul style="display: none;">
											<li><a href="javascript:void(0);"><span>Level 2</span></a></li>
											<li class="submenu">
												<a href="javascript:void(0);"> <span> Level 2</span> <span class="menu-arrow"></span></a>
												<ul style="display: none;">
													<li><a href="javascript:void(0);">Level 3</a></li>
													<li><a href="javascript:void(0);">Level 3</a></li>
												</ul>
											</li>
											<li><a href="javascript:void(0);"> <span>Level 2</span></a></li>
										</ul>
									</li>
									<li>
										<a href="javascript:void(0);"> <span>Level 1</span></a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
                </div>
            </div>
			<!-- /Sidebar -->
			
			<!-- Page Wrapper -->
            <div class="page-wrapper">
			
				<!-- Page Content -->
                <div class="content container-fluid">
				
					<!-- Page Header -->
					<div class="page-header">
						<div class="row">
							<div class="col-sm-12">
								<h3 class="page-title">Profile</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
									<li class="breadcrumb-item active">Profile</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /Page Header -->
					
					<div class="card mb-0">
						<div class="card-body">
							<div class="row">
								<div class="col-md-12">
									<div class="profile-view">
										<div class="profile-img-wrap">
											<div class="profile-img">
												<a href="">
													<img src="/assets/img/favicon1.png" alt="">
												</a>
											</div>
										</div>
										<div class="profile-basic">
											<div class="row">
												<div class="col-md-5">
													<div class="profile-info-left">
														<h3 class="user-name m-t-0"><%= company %></h3>
														<h5 class="company-role m-t-0 mb-0"><%= fname %> <%= lname %></h5>
														<!-- <small class="text-muted">CEO</small> -->
														<div class="staff-id">Employee ID : CLT-0001</div>
														<!-- <div class="staff-msg"><a href="chat.html" class="btn btn-custom">Send Message</a></div> -->
													</div>
												</div>
												<div class="col-md-7">
													<ul class="personal-info">
														<li>
															<span class="title">Phone:</span>
															<span class="text"><a href=""><%= phone %></a></span>
														</li>
														<li>
															<span class="title">Email:</span>
															<span class="text"><a href=""><%= email %></a></span>
														</li>
														<!-- <li>
															<span class="title">Birthday:</span>
															<span class="text">2nd August</span>
														</li>
														<li>
															<span class="title">Address:</span>
															<span class="text">5754 Airport Rd, Coosada, AL, 36020</span>
														</li>
														<li>
															<span class="title">Gender:</span>
															<span class="text">Male</span>
														</li> -->
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card tab-box">
						<div class="row user-tabs">
							<div class="col-lg-12 col-md-12 col-sm-12 line-tabs">
								<ul class="nav nav-tabs nav-tabs-bottom">
									<li class="nav-item col-sm-3"><a class="nav-link active" data-toggle="tab" href="#myprojects">Projects</a></li>
									<li class="nav-item col-sm-3"><a class="nav-link" data-toggle="tab" href="#tasks">Tasks</a></li>
								</ul>
							</div>
						</div>
					</div>

                    <div class="row">
                        <div class="col-lg-12"> 
							<div class="tab-content profile-tab-content">
								
								<!-- Projects Tab -->
								<div id="myprojects" class="tab-pane fade show active">
									<div class="row">
										<% projects.forEach(project => { %>
											<div class="col-lg-4 col-sm-6 col-md-4 col-xl-3">
												<div class="card">
													<div class="card-body">
														<div class="dropdown profile-action">
															<a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
															<div class="dropdown-menu dropdown-menu-right">
																<a class="dropdown-item" href="#" data-toggle="modal" data-target="#edit_project_<%= project.id %>"><i class="fa fa-pencil m-r-5"></i> Edit</a>
																<a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_project_<%= project.id %>"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
															</div>
														</div> 
														<h4 class="project-title"><a href="/project-view?id=<%= project.project_id %>"><%= project.project_name %></a></h4>
														<small class="block text-ellipsis m-b-15">
															<span class="text-xs"><%= project.open_tasks_count %></span> <span class="text-muted">open tasks, </span>
															<span class="text-xs"><%= project.completed_tasks_count %></span> <span class="text-muted">tasks completed</span>
														</small>
														<p class="text-muted"><%= project.description %></p>
														<div class="pro-deadline m-b-15">
															<div class="sub-title">Deadline:</div>
															<div class="text-muted"><%= project.end_date %></div>
														</div>
														
														<p class="m-b-5">Progress <span class="text-success float-right"><%= project.progress %>%</span></p>
														<div class="progress progress-xs mb-0">
															<div class="progress-bar bg-success" role="progressbar" data-toggle="tooltip" title="<%= project.progress %>%" style="width: <%= project.progress %>%"></div>
														</div>
													</div>
												</div>
											</div>
										<% }); %>
									</div>
								</div>
								
								<!-- /Projects Tab -->
								
								<!-- Task Tab -->
								<div id="tasks" class="tab-pane fade">
									<div class="project-task">
										<ul class="nav nav-tabs nav-tabs-top nav-justified mb-0">
											<li class="nav-item"><a class="nav-link active" href="#all_tasks" data-toggle="tab" aria-expanded="true">All Tasks</a></li>
											<li class="nav-item"><a class="nav-link" href="#pending_tasks" data-toggle="tab" aria-expanded="false">Pending Tasks</a></li>
											<li class="nav-item"><a class="nav-link" href="#completed_tasks" data-toggle="tab" aria-expanded="false">Completed Tasks</a></li>
										</ul>
										<div class="tab-content">
											<div class="tab-pane show active" id="all_tasks">
												<div class="task-wrapper">
													<div class="task-list-container">
														<div class="task-list-body">
															<ul id="task-list">
																<% tasks.forEach(task => { %>
																	<li class="task <% if (task.task_status === 'Completed') { %> Completed <% } %>">
																		<div class="task-container">
																			<span class="task-action-btn task-check">
																				<span class="action-circle large complete-btn <% if (task.task_status === 'Completed') { %> checked <% } %>" title="Mark Complete">
																					<i class="material-icons">check</i>
																				</span>
																			</span>
																			<span class="task-label" contenteditable="true"><%= task.task_name %></span>
																			<span class="task-action-btn task-btn-right">
																				<span class="action-circle large" title="Assign">
																					<i class="material-icons">person_add</i>
																				</span>
																				<span class="action-circle large delete-btn" title="Delete Task">
																					<i class="material-icons">delete</i>
																				</span>
																			</span>
																		</div>
																	</li>
																<% }); %>
															</ul>
														</div>
														<div class="task-list-footer">
															<div class="new-task-wrapper">
																<textarea id="new-task" placeholder="Enter new task here. . ."></textarea>
																<span class="error-message hidden">You need to enter a task first</span>
																<span class="add-new-task-btn btn" id="add-task">Add Task</span>
																<span class="btn" id="close-task-panel">Close</span>
															</div>
														</div>
													</div>
												</div>
											</div>
											
											
											
											<div class="tab-pane" id="pending_tasks">
												<div class="task-wrapper">
													<div class="task-list-container">
														<div class="task-list-body">
															<ul id="task-list">
																<% tasks.forEach(task => { %>
																	<% if (task.task_status === 'Pending') { %>
																		<li class="task">
																			<div class="task-container">
																				<span class="task-action-btn task-check">
																					<span class="action-circle large complete-btn" title="Mark Complete">
																						<i class="material-icons">check</i>
																					</span>
																				</span>
																				<span class="task-label" contenteditable="true"><%= task.task_name %></span>
																				<span class="task-action-btn task-btn-right">
																					<span class="action-circle large" title="Assign">
																						<i class="material-icons">person_add</i>
																					</span>
																					<span class="action-circle large delete-btn" title="Delete Task">
																						<i class="material-icons">delete</i>
																					</span>
																				</span>
																			</div>
																		</li>
																	<% } %>
																<% }); %>
															</ul>
														</div>
														<div class="task-list-footer">
															<div class="new-task-wrapper">
																<textarea id="new-task" placeholder="Enter new task here. . ."></textarea>
																<span class="error-message hidden">You need to enter a task first</span>
																<span class="add-new-task-btn btn" id="add-task">Add Task</span>
																<span class="btn" id="close-task-panel">Close</span>
															</div>
														</div>
													</div>
												</div>
											</div>
											
											<div class="tab-pane" id="completed_tasks">
												<div class="task-wrapper">
													<div class="task-list-container">
														<div class="task-list-body">
															<ul id="task-list">
																<% tasks.forEach(task => { %>
																	<% if (task.task_status === 'Completed') { %>
																		<li class="task completed">
																			<div class="task-container">
																				<span class="task-action-btn task-check">
																					<span class="action-circle large complete-btn checked" title="Mark Complete">
																						<i class="material-icons">check</i>
																					</span>
																				</span>
																				<span class="task-label" contenteditable="true"><%= task.task_name %></span>
																				<span class="task-action-btn task-btn-right">
																					<span class="action-circle large" title="Assign">
																						<i class="material-icons">person_add</i>
																					</span>
																					<span class="action-circle large delete-btn" title="Delete Task">
																						<i class="material-icons">delete</i>
																					</span>
																				</span>
																			</div>
																		</li>
																	<% } %>
																<% }); %>
															</ul>
														</div>
														<div class="task-list-footer">
															<div class="new-task-wrapper">
																<textarea id="new-task" placeholder="Enter new task here. . ."></textarea>
																<span class="error-message hidden">You need to enter a task first</span>
																<span class="add-new-task-btn btn" id="add-task">Add Task</span>
																<span class="btn" id="close-task-panel">Close</span>
															</div>
														</div>
													</div>
												</div>
											</div>
											
										</div>
									</div>
								</div>
								<!-- /Task Tab -->
								
							</div>
						</div>
					</div>
				</div>
				<!-- /Page Content -->
				
            </div>
        </div>
		<!-- /Main Wrapper -->
		
		<!-- jQuery -->
        <script src="assets\js\jquery-3.2.1.min.js"></script>
		
		<!-- Bootstrap Core JS -->
        <script src="assets\js\popper.min.js"></script>
        <script src="assets\js\bootstrap.min.js"></script>
		
		<!-- Slimscroll JS -->
		<script src="assets\js\jquery.slimscroll.min.js"></script>
		
		<!-- Select2 JS -->
		<script src="assets\js\select2.min.js"></script>
		
		<!-- Task JS -->
		<script src="assets\js\task.js"></script>
		
		<!-- Custom JS -->
		<script src="assets\js\app.js"></script>
		
    </body>
</html>