<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />
    <meta name="description" content="Smarthr - Bootstrap Admin Template" />
    <meta
      name="keywords"
      content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern, accounts, invoice, html5, responsive, CRM, Projects"
    />
    <meta name="author" content="Dreamguys - Bootstrap Admin Template" />
    <meta name="robots" content="noindex, nofollow" />
    <title>Freelance Pro | Projects</title>

    <!-- Favicon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/assets/img/favicon.png"
    />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css" />

    <!-- Lineawesome CSS -->
    <link rel="stylesheet" href="/assets/css/line-awesome.min.css" />

    <!-- Select2 CSS -->
    <link rel="stylesheet" href="/assets/css/select2.min.css" />

    <!-- Datetimepicker CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap-datetimepicker.min.css" />

    <!-- Summernote CSS -->
    <link
      rel="stylesheet"
      href="assets\plugins\summernote\dist\summernote-bs4.css"
    />

    <!-- Main CSS -->
    <link rel="stylesheet" href="/assets/css/style.css" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.min.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Main Wrapper -->
    <div class="main-wrapper">
      <!-- Header -->
      <div class="header">
        <!-- Logo -->
        <div class="header-left">
          <a href="/index" class="logo">
          </a>
        </div>
        <!-- /Logo -->

        <a id="toggle_btn" href="javascript:void(0);">
          <span class="bar-icon">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </a>

        <!-- Header Title -->
        <div class="page-title-box">
          <h3>Freelance Pro</h3>
        </div>
        <!-- /Header Title -->

        <a id="mobile_btn" class="mobile_btn" href="#sidebar"
          ><i class="fa fa-bars"></i
        ></a>

        <!-- Header Menu -->
				<ul class="nav user-menu">
				
				
					<!-- Flag -->
					<li class="nav-item dropdown has-arrow flag-nav">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button">
							<img src="assets\img\flags\us.png" alt="" height="20"> <span>English</span>
						</a>
						<div class="dropdown-menu dropdown-menu-right">
							<a href="javascript:void(0);" class="dropdown-item">
								<img src="assets\img\flags\us.png" alt="" height="16"> English
							</a>
							<a href="javascript:void(0);" class="dropdown-item">
								<img src="assets\img\flags\fr.png" alt="" height="16"> French
							</a>
							<a href="javascript:void(0);" class="dropdown-item">
								<img src="assets\img\flags\es.png" alt="" height="16"> Spanish
							</a>
							<a href="javascript:void(0);" class="dropdown-item">
								<img src="assets\img\flags\de.png" alt="" height="16"> German
							</a>
						</div>
					</li>
					<!-- /Flag -->
				
					

					<li class="nav-item dropdown has-arrow main-drop">
						<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
							<span class="user-img"><img src="assets\img\profiles\me.jpg" alt="">
						</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="profile.html">My Profile</a>
							<a class="dropdown-item" href="/login">Logout</a>
						</div>
					</li>
				</ul>
				<!-- /Header Menu -->

        <!-- Mobile Menu -->
        <div class="dropdown mobile-user-menu">
          <a
            href="#"
            class="nav-link dropdown-toggle"
            data-toggle="dropdown"
            aria-expanded="false"
            ><i class="fa fa-ellipsis-v"></i
          ></a>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="profile.html">My Profile</a>
            <a class="dropdown-item" href="login.html">Logout</a>
          </div>
        </div>
        <!-- /Mobile Menu -->
      </div>
      <!-- /Header -->

      <!-- Sidebar -->
      <div class="sidebar" id="sidebar">
        <div class="sidebar-inner slimscroll">
  <div id="sidebar-menu" class="sidebar-menu">
    <ul>
      <li class="menu-title"> 
        <span>Main Menu</span>
      </li>
      <li>
        <a href="/index"><i class="la la-dashboard"></i> <span>Dashboard</span></a>
      </li>
      <li>
        <a href="/events"><i class="fa fa-calendar"></i> <span>Calendar</span></a>
      </li>

      <li class="submenu">
        <a href="#"><i class="la la-rocket"></i> <span> Projects</span> <span class="menu-arrow"></span></a>
        <ul style="display: none;">
          <li><a href="/projects">Projects</a></li>
          <li><a href="/task-board">Task Board</a></li>
        </ul>
      </li>
      <li> 
        <a href="/clients"><i class="la la-users"></i> <span>Clients</span></a>
      </li>
      <li><a href="/invoices"><i class="la la-ticket"></i> <span>Invoices</span></a></li>

      <li class="submenu">
        <!-- <a href="javascript:void(0);"><i class="la la-share-alt"></i> <span>Multi Level</span> <span class="menu-arrow"></span></a> -->
        <ul style="display: none;">
          <li class="submenu">
            <a href="javascript:void(0);"> <span>Level 1</span> <span class="menu-arrow"></span></a>
            <ul style="display: none;">
              <li><a href="javascript:void(0);"><span>Level 2</span></a></li>
              <li class="submenu">
                <a href="javascript:void(0);"> <span> Level 2</span> <span class="menu-arrow"></span></a>
                <ul style="display: none;">
                  <li><a href="javascript:void(0);">Level 3</a></li>
                  <li><a href="javascript:void(0);">Level 3</a></li>
                </ul>
              </li>
              <li><a href="javascript:void(0);"> <span>Level 2</span></a></li>
            </ul>
          </li>
          <li>
            <a href="javascript:void(0);"> <span>Level 1</span></a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
        </div>
    </div>
<!-- /Sidebar -->

      <!-- Page Wrapper -->
      <div class="page-wrapper">
        <!-- Page Content -->
        <div class="content container-fluid">
          <!-- Page Header -->
          <div class="page-header">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="page-title">Projects</h3>
                <ul class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="/index">Dashboard</a>
                  </li>
                  <li class="breadcrumb-item active">Projects</li>
                </ul>
              </div>
              <div class="col-auto float-right ml-auto">
                <a
                  href="#"
                  class="btn add-btn"
                  data-toggle="modal"
                  data-target="#create_project"
                  ><i class="fa fa-plus"></i> Create Project</a
                >
                <!-- <div class="view-icons">
                  <a href="projects.html" class="grid-view btn btn-link active"
                    ><i class="fa fa-th"></i
                  ></a>
                  <a href="project-list.html" class="list-view btn btn-link"
                    ><i class="fa fa-bars"></i
                  ></a>
                </div> -->
              </div>
            </div>
          </div>
          <!-- /Page Header -->

          <!-- Search Filter -->
          <!-- <div class="row filter-row">
            <div class="col-sm-6 col-md-3">
              <div class="form-group form-focus">
                <input type="text" class="form-control floating" />
                <label class="focus-label">Project Name</label>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="form-group form-focus">
                <input type="text" class="form-control floating" />
                <label class="focus-label">Employee Name</label>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="form-group form-focus select-focus">
                <select class="select floating">
                  <option>Select Roll</option>
                  <option>Web Developer</option>
                  <option>Web Designer</option>
                  <option>Android Developer</option>
                  <option>Ios Developer</option>
                </select>
                <label class="focus-label">Designation</label>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <a href="#" class="btn btn-success btn-block"> Search </a>
            </div>
          </div> -->
          <!-- Search Filter -->

          <div class="row">
    <% projects.forEach(project => { %>
        <div class="col-lg-4 col-sm-6 col-md-4 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="dropdown dropdown-action profile-action">
                        <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#edit_project">
                                <i class="fa fa-pencil m-r-5"></i> Edit
                            </a>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_project">
                                <i class="fa fa-trash-o m-r-5"></i> Delete
                            </a>
                        </div>
                    </div>
                    <h4 class="project-title">
                        <a href="/project-view"><%= project.project_name %></a>
                    </h4>
                    <small class="block text-ellipsis m-b-15">
                        <span class="text-xs"><%= project.open_tasks %></span>
                        <span class="text-muted">open tasks, </span>
                        <span class="text-xs"><%= project.tasks_completed %></span>
                        <span class="text-muted">tasks completed</span>
                    </small>
                    <p class="text-muted"><%= project.description %></p>
                    <div class="pro-deadline m-b-15">
                        <div class="sub-title">Deadline:</div>
                        <div class="text-muted"><%= project.end_date %></div>
                    </div>
                    <p class="m-b-5">
                        Progress <span class="text-success float-right"><%= project.progress %>%</span>
                    </p>
                    <div class="progress progress-xs mb-0">
                        <div class="progress-bar bg-success" role="progressbar" data-toggle="tooltip" title="<%= project.progress %>" style="width: <%= project.progress %>%"></div>
                    </div>
                </div>
            </div>
        </div>
    <% }); %>
</div>

        
        </div>
        <!-- /Page Content -->

        <!-- Create Project Modal -->
        <div id="create_project" class="modal custom-modal fade" role="dialog">
          <div
            class="modal-dialog modal-dialog-centered modal-lg"
            role="document"
          >
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Create Project</h5>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label>Project Name</label>
                        <input
                          class="form-control"
                          id="project_name"
                          name="project_name"
                          type="text"
                        />
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label>Client</label>
                        <select class="select" id="client" name="client">
                          <option>Global Technologies</option>
                          <option>Delta Infotech</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label>Start Date</label>
                        <div class="cal-icon">
                          <input
                            class="form-control datetimepicker"
                            id="start_date"
                            name="start_date"
                            type="text"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label>End Date</label>
                        <div class="cal-icon">
                          <input
                            class="form-control datetimepicker"
                            id="end_date"
                            name="end_date"
                            type="text"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="form-group">
                        <label>Rate</label>
                        <input
                          placeholder="Ksh. 500"
                          class="form-control"
                          id="rate"
                          name="rate"
                          type="text"
                        />
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="form-group">
                        <label>&nbsp;</label>
                        <select class="select" id="frequency" name="frequency">
                          <option>Hourly</option>
                          <option>Fixed</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label>Priority</label>
                        <select class="select" id="priority" name="priority">
                          <option>High</option>
                          <option>Medium</option>
                          <option>Low</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label>Description</label>
                    <textarea
                      rows="4"
                      class="form-control summernote"
                      id="description"
                      name="description"
                      placeholder="Enter your message here"
                    ></textarea>
                  </div>
                  <div class="form-group">
                    <label>Upload Files</label>
                    <input class="form-control" type="file" />
                  </div>
                  <div class="submit-section">
                    <button
                      id="submit"
                      type="button"
                      class="btn btn-primary submit-btn"
                    >
                      Submit
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- /Create Project Modal -->

        <!-- Edit Project Modal -->
        <div id="edit_project" class="modal custom-modal fade" role="dialog">
          <div
            class="modal-dialog modal-dialog-centered modal-lg"
            role="document"
          >
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Edit Project</h5>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label>Project Name</label>
                        <input
                          class="form-control"
                          value="Project Management"
                          type="text"
                        />
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label>Client</label>
                        <select class="select">
                          <option>Global Technologies</option>
                          <option>Delta Infotech</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label>Start Date</label>
                        <div class="cal-icon">
                          <input
                            class="form-control datetimepicker"
                            type="text"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label>End Date</label>
                        <div class="cal-icon">
                          <input
                            class="form-control datetimepicker"
                            type="text"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="form-group">
                        <label>Rate</label>
                        <input
                          placeholder="$50"
                          class="form-control"
                          value="$5000"
                          type="text"
                        />
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="form-group">
                        <label>&nbsp;</label>
                        <select class="select">
                          <option>Hourly</option>
                          <option selected="">Fixed</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label>Priority</label>
                        <select class="select">
                          <option selected="">High</option>
                          <option>Medium</option>
                          <option>Low</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label>Add Project Leader</label>
                        <input class="form-control" type="text" />
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label>Team Leader</label>
                        <div class="project-members">
                          <a
                            href="#"
                            data-toggle="tooltip"
                            title="Jeffery Lalor"
                            class="avatar"
                          >
                            <img
                              src="/assets/img/profiles\avatar-16.jpg"
                              alt=""
                            />
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label>Add Team</label>
                        <input class="form-control" type="text" />
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label>Team Members</label>
                        <div class="project-members">
                          <a
                            href="#"
                            data-toggle="tooltip"
                            title="John Doe"
                            class="avatar"
                          >
                            <img
                              src="/assets/img/profiles\avatar-16.jpg"
                              alt=""
                            />
                          </a>
                          <a
                            href="#"
                            data-toggle="tooltip"
                            title="Richard Miles"
                            class="avatar"
                          >
                            <img
                              src="/assets/img/profiles\avatar-09.jpg"
                              alt=""
                            />
                          </a>
                          <a
                            href="#"
                            data-toggle="tooltip"
                            title="John Smith"
                            class="avatar"
                          >
                            <img
                              src="/assets/img/profiles\avatar-10.jpg"
                              alt=""
                            />
                          </a>
                          <a
                            href="#"
                            data-toggle="tooltip"
                            title="Mike Litorus"
                            class="avatar"
                          >
                            <img
                              src="/assets/img/profiles\avatar-05.jpg"
                              alt=""
                            />
                          </a>
                          <span class="all-team">+2</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Description</label>
                    <textarea
                      rows="4"
                      class="form-control"
                      placeholder="Enter your message here"
                    ></textarea>
                  </div>
                  <div class="form-group">
                    <label>Upload Files</label>
                    <input class="form-control" type="file" />
                  </div>
                  <div class="submit-section">
                    <button class="btn btn-primary submit-btn">Save</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- /Edit Project Modal -->

        <!-- Delete Project Modal -->
        <div class="modal custom-modal fade" id="delete_project" role="dialog">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-body">
                <div class="form-header">
                  <h3>Delete Project</h3>
                  <p>Are you sure want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                  <div class="row">
                    <div class="col-6">
                      <a
                        href="javascript:void(0);"
                        class="btn btn-primary continue-btn"
                        >Delete</a
                      >
                    </div>
                    <div class="col-6">
                      <a
                        href="javascript:void(0);"
                        data-dismiss="modal"
                        class="btn btn-primary cancel-btn"
                        >Cancel</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /Delete Project Modal -->
      </div>
      <!-- /Page Wrapper -->
    </div>
    <!-- /Main Wrapper -->

    <!-- jQuery -->
    <script src="/assets/js/jquery-3.2.1.min.js"></script>

    <!-- Bootstrap Core JS -->
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>

    <!-- Slimscroll JS -->
    <script src="/assets/js/jquery.slimscroll.min.js"></script>

    <!-- Select2 JS -->
    <script src="/assets/js/select2.min.js"></script>

    <!-- Datetimepicker JS -->
    <script src="/assets/js/moment.min.js"></script>
    <script src="/assets/js/bootstrap-datetimepicker.min.js"></script>

    <!-- Summernote JS -->
    <script src="assets\plugins\summernote\dist\summernote-bs4.min.js"></script>

    <!-- Custom JS -->
    <script src="/assets/js/app.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>

    <script>
      document.getElementById("submit").addEventListener("click", (event) => {
        event.preventDefault(); // Prevent the default form submission behavior

        // Disable the button to prevent double-clicking
        event.target.disabled = true;

        const name = document.getElementById("project_name").value;
        const selectedOption = document.getElementById("client");
        const client =
          selectedOption.options[selectedOption.selectedIndex].text;

        const start_date = document.getElementById("start_date").value;
        const end_date = document.getElementById("end_date").value;
        const rate = document.getElementById("rate").value;
        const option3 = document.getElementById("frequency");
        const frequency = option3.options[option3.selectedIndex].text;

        const option2 = document.getElementById("priority");
        const priority = option2.options[option2.selectedIndex].text;

        const description = document.getElementById("description").value;

        if (!name || !client || !rate || !start_date || !end_date) {
          // Handle the case where not all fields are filled out
          swal("Error!", "Missing fields!", "error").then(() => {
            // Enable the button after showing the error message
            event.target.disabled = false;
          });
          return;
        }

        const data = {
          name: name,
          client: client,
          start_date: start_date,
          end_date: end_date,
          rate: rate,
          frequency: frequency,
          priority: priority,
          description: description,
        };

        // Show loading animation
        swal({
          title: "Processing...",
          content: {
            element: "div",
            attributes: {
              id: "loading-animation",
            },
          },
          buttons: false,
          closeOnClickOutside: false,
          closeOnEsc: false,
        });

        // Use Axios to submit the form data to the /submit endpoint
        // ...
        axios
          .post("/create/project", data)
          .then(function (response) {
            // Hide loading animation
            swal.close();

            const successMessage =
              response.data.status ||
              "Your request has been submitted successfully.";
            swal({
              title: "Success!",
              text: successMessage,
              icon: "success",
              button: "Close",
            }).then(() => {
              // Clear input fields
            //   document.getElementById("topic").value = "";
            //   document.getElementById("message").value = "";

              // Enable the button after closing the success message
              event.target.disabled = false;

              // Refresh the page
              location.reload();

              // You can also close the modal if necessary
              // jQuery('#ticketModal').modal('hide');
            });
          })
          .catch(function (error) {
            console.error(error);
            // Hide loading animation
            swal.close();

            const errorMessage =
              error.response.data.message ||
              "An error occurred. Please try again later.";
            swal({
              title: "Error!",
              text: errorMessage,
              icon: "error",
              button: "Close",
            }).then(() => {
              // Enable the button after closing the error message
              event.target.disabled = false;
            });
          });
        // ...
      });
    </script>
  </body>
</html>
